<script lang="ts">
	import Books from "./Books.svelte";
	import "smelte/src/tailwind.css" ;
</script>

<main>
	<Books />
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>